<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jarvis.Settings.SettingsModule" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Jarvis.Settings.SettingsVersion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Jarvis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Jarvis.Settings.SettingsModule>
            <setting name="Key" serializeAs="String">
                <value>False</value>
            </setting>
        </Jarvis.Settings.SettingsModule>
        <Jarvis.Settings.SettingsVersion>
            <setting name="Main" serializeAs="String">
                <value>Alpha</value>
            </setting>
            <setting name="Ver_Main" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Ver_Unter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ver_Pre" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ver_PreBuild" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Build" serializeAs="String">
                <value>1412</value>
            </setting>
        </Jarvis.Settings.SettingsVersion>
        <Jarvis.Properties.Settings>
            <setting name="langue" serializeAs="String">
                <value>De-de</value>
            </setting>
            <setting name="fastStart" serializeAs="String">
                <value>False</value>
            </setting>
        </Jarvis.Properties.Settings>
    </userSettings>
</configuration>